*{
    margin:0px;
    padding:0px;
}

body{
    font-family:"Roboto", sans-serif;
    color: rgb(29,29,31);
    text-align:center;      
}

#nav{
    background-color: rgba(0, 0, 0, 0.8);
    width:100%;
    height:30px;
    padding-top:15px;
}

div ul li{
    color: rgb(81, 81, 84);
    list-style-type: none;
    align-content: center;
    display: inline;
    margin-left:3em;
    margin-right:4em;
}

#apple{
    position:absolute; 
    top:0%;
}

#zoom{
    position:absolute;
    top: 0%;
}

#compra{
    position:absolute;
    top:0px;
}


p{
    margin:15px;
    font-size:15pt;
}

#nuevo{
    color:rgb(252, 137, 95);
    margin-bottom: 0px;
}

h1{
    font-size:60pt;
}

#h4_1{
    font-size:22pt;
}

button{
    color:white;
    font-size: 15px;
    background-color:rgb(0, 113, 227);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 20px;
    border-radius: 25px;
    border-color:rgb(0, 113, 227);
}

a{
    text-decoration: none;
}

a:visited {
color:rgb(0, 113, 227);
}

#imagen1{
    margin-top:100px;
    margin-bottom:100px;    
}

.bloque{
    background-color: rgb(242, 242, 242);
    margin:15px;
    padding-top:50px;
    width: 40%;
    height: 700px;
    display:inline-block;
    overflow:hidden;   
}

h2{
    text-align:center;
    font-size:36pt;
    padding-top: 10px;
    padding-bottom:10px;

}

.salto{
    font-size:36pt;
    margin-top:0px;
    margin-bottom:0px;
}

#imagen2{
    margin-top:80px;

}

#imagen3{
    margin-top:42px;
}

#imagen4{
    margin-top:100px;
    margin-bottom:20px;
}

footer{
    background-color: rgb(245, 245, 247);
    margin-top:50px;
    padding-top:20px;
    padding-left:200px;
    padding-bottom:20px;
    text-align:left;
}

h5{
    color:rgb(81, 81, 84)
}

footer ul li{
    font-size:13px;
    display:inline;
    padding: 25px;
}

#margen{
    padding-left:0px;    
}